<div class="container">
  <% content_for :name do %>
  <%= @cocktail.name %>
  <% end %>
  <h2><%= @cocktail.name %></h2>

  <p>Doses</p>
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <% if dose.persisted? %>
        <li>
          <%= dose.description %> of <%= dose.ingredient.name %>
          <%= link_to "x", dose_path(dose), method: :delete %>
        </li>
      <% end %>
     <% end %>
  </ul>
  <p>Add A new dose</p>
  <%= render 'doses/form' %>
</div>
