<div class="navbar-smoothie">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-smoothie-brand" do %>
    <%= image_tag "miss-smoothie-logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-smoothie-right hidden-xs hidden-sm">

    <!-- Links -->
    <%= link_to "Les Smoothies", root_path, class: "navbar-smoothie-item navbar-smoothie-link" %>
    <%= link_to "Ajouter mon Smoothie", new_cocktail_path(@cocktail), class: "navbar-smoothie-item navbar-smoothie-link" %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-smoothie-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-smoothie-dropdown-menu">
        <%= link_to "Les Smoothies", root_path %>
        <%= link_to "Ajouter mon Smoothie", new_cocktail_path(@cocktail) %>
      </ul>
    </div>
  </div>
</div>
